extends ../layout

block content
    .row
        .col-md-6(style="width:100%")
            .panel.panel-default
                .panel-heading
                    h3.panel-title  病床分配
                .panel-body
                    form.form-horizontal(role='form', action='', method='post')
                        .form-group
                            labelRole 病人
                            select.form-control.input-sm(name='paitent')
                                - each patient in patients
                                       option(value='#{patient.id}')
                                            | #{patient.name}
                        .form-group
                            labelRole 病房
                            select.form-control.input-sm(multiple, name='room')
                                - each room in rooms
                                       option(value='#{room.id}')
                                            | #{room.bed_roomNo}
                        .form-group
                            labelRole 医生
                            select.form-control.input-sm(multiple, name='doctor')
                                - each doctor in doctors
                                       option(value='#{doctor.id}')
                                            | #{doctor.name}

                        input(type='hidden', name='_csrf', value='#{token}')
                        .form-group
                            .col-sm-offset-2.col-sm-10(style="width:100%;  margin-left:0;text-align:center;")
                                button.btn.btn-primary(type='submit') 提交

block foot-js
    script.
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            var messenger;
            $('form').ajaxForm({
                beforeSerialize: function() {
                    console.log('beforeSerialize')
                    const tel  = $('#inputPassword6').text()

                },
                beforeSubmit: function() {
                    console.log('beforeSubmit')
                    messenger = Messenger().post("Processing...");
                },
                success: function(data, status, xhr, $form) {
                    console.log(data)
                    var status = data.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                        $form[0].reset();
                    } else {
                        messenger.update({
                            message: data.message,
                            hideAfter: 3,
                            type: 'success'
                        });
                    }
                },
                err: function(res) {
                    console.log(res);
                    console.log('error')
                    messenger.update({
                        message: 'System Error',
                        hideAfter: 3,
                        type: 'success'
                    });
                }
            })
        })
