extends ../layout

block content
    .row
        .col-md-12
            .lists
                a.btn.btn-info(href='#{adminDir}/bed/add') 新增
                table.table.table-striped
                    thead
                        tr
                            th 所属病房
                            th 所属病人
                            th 对应医生
                            th 日期
                            //- th 操作
                    tbody
                        - each bed in rooms
                            tr
                                td #{bed.room.bed_roomNo}
                                td #{bed.paitent.name}
                                td #{bed.doctor.name}
                                td #{moment(bed.created).format('LLL')}
                                //- td 
                                //-     a.btn.btn-default.btn-xs(href='#{adminDir}/user/#{user.id}/edit') edit
                                //-     |  
                                //-     if (user.status !== 101)
                                //-         a.btn.btn-danger.btn-xs.J_del(href='#{adminDir}/user/#{user.id}/del') delete
                if (pageInfo && pageInfo.totalPage > 1)
                    - pageInfo.query = query
                    include ../mixin
                    +pagination(pageInfo)

block foot-js
    script.
        var token = '#{token}';
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
            theme: 'flat'
        };
        $(function() {
            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var messenger = Messenger().post("Processing...");
                $.post(url, {_csrf: token}, function(res) {
                    console.log(res);
                    var status = res.status;
                    if (status) {
                        messenger.update({
                            message: 'Success',
                            hideAfter: 3,
                            type: 'success'
                        });
                        setTimeout(function() {
                            $this.closest('tr').remove();
                        }, 1000)
                        
                    } else {
                        messenger.update({
                            message: 'Failure',
                            hideAfter: 3,
                            type: 'error'
                        });
                    }
                })
            })
        })
